/*body*/
body{
    background-image: url(../IMG/Minoan.jpg);
}

/*Main*/
#Main{
    position: relative;
}
.MainContent{
    position: absolute;
    top: 50%;
    left: 50%;
    width: fit-content;
    text-align: center;
    color: white;
    height: fit-content;
    transform: translate(-50%, -70%);
}
.MainContent h1{
    font-size: 20vw;
    margin-bottom: 0;
}
.MainContent a{
    text-decoration: none;
    margin: 0 auto;
    display: block;
    width: 40vw;
    background: #ba9368;
    padding: 2vh;
    color: #E7D1B5;
    font-size: 2.5em;
    border-radius: 50px;
    transition: all 300ms;
}
.MainContent a:hover{
    transform: scale(1.05);
    color: white;
}

/*About*/
.containmf{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#About{
    flex: 1;
    background: #E7D1B5;
    position: relative;
}
.contain{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #ba9368;
    padding: 3%;
    transform: translate(-50%,-50%);
    width: 80vw;
}
.contain h1{
    margin: 0;
    margin-bottom: 3vh;
    color: white;
    font-size: 3em;
}
.wrap{
    display: flex;
}
.wrap img{
    width: 40%;
}
.wrap p{
    margin: 0;
    margin-left: 5%;
    width: 55%;
    background: #d9b393;
    padding: 2vh 2vw;
}